button {
    width: 22px !important;
    min-width: 1px !important;
    height: 22px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    padding: 0 0;
    margin: 0;
}

.nothing { 
    background-color: white;
}

.center {
    margin: auto;
}

.text {
    color: white;
}